<header id="header">
  <div class="inner">
    <a href="{{ '/' | relative_url }}" class="logo">
      <img src="{{ '/images/BMC_Logo_v3.png' | relative_url }}" alt="{{ site.title }}" style="height: 30px;">
    </a>
    <nav id="nav">
      <a href="{{ '/' | relative_url }}">Home</a>
      <a href="{{ '/services/' | relative_url }}">Services</a>
      <a href="{{ '/portfolio/' | relative_url }}">Portfolio</a>
      <a href="{{ '/about/' | relative_url }}">About</a>
      <a href="{{ '/contact/' | relative_url }}">Contact</a>
    </nav>
    <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
  </div>
</header>
