<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body class="{{ page.body_class }}">
    {% include header.html %}

    {{ content }}

    {% include footer.html %}
    <script src="{{ '/assets/js/jquery.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/skel.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/util.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/lightbox.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/portfolio.js' | relative_url }}"></script>
    {% include analytics.html %}
  </body>
</html>
